* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    padding-top: 30px;
}

.btn {
    padding: 20px 30px;
    margin: auto;
    background-color: lightseagreen;
    display: inline-block;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}